# web
flask
flask-cors
flask-login

# ML core
torch
transformers
datasets
tokenizers

# data processing
scikit-learn
pandas
numpy

# db
sqlite3

# env vars
python-dotenv

# training
accelerate
evaluate

# performance
sentencepiece

# dev
jupyter
matplotlib
seaborn