<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='script.js' )}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>ქართული ჩატბოტი</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="title">
                ქართული ჩატბოტი
            </div>
            <div class="auth">
                <button onclick="window.location.href='/log-in'">შესვლა</button>
                <button onclick="window.location.href='/create-account'">რეგისტრაცია</button>
            </div>
        </header>
        <main class="chatbot">
            <h1>რითი შემიძლია დაგეხმაროთ?</h1>
            <form class="input-container" method="post">
                <div>
                    <input type="text" class="input" id="input" placeholder="იკითხეთ რაც გნებავთ">
                </div>
                <div>
                    <div class="additional-chatbot-features">
                        
                    </div>
                    <div class="send-req-btn">

                    </div>
                </div>
            </form>
        </main>
        <footer class="Privay-Policy">
            <p>ქართული ჩატბოტთან კონტაკტით თქვენ ეთანხმებით ჩვენს <a href="#">პირობებს</a> და მოხმარების <a href="#">წესებს</a></p>
        </footer>
    </div>
</body>
</html>